body {
    background-image: url(app/background.jpg);
    background-position: left top;
    background-size: cover;
}

html, body, div.wdg-layout-stack {
    font-family: mystery-quest;
    color: #210;
    text-shadow: 1px 1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff, -1px -1px 1px #fff;
}

@media (orientation: portrait) {
    html { font-size: 5vw }
}

@media (orientation: landscape) {
    html { font-size: 5vh }
}

div.wdg-layout-stack.custom > div {
    background-color: transparent;
}

body > div.wdg-layout-stack {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wdg-button.custom {
    font-family: josefin-sans;
    background-color: #8d6013;
    color: #ffe;
}

div.theme-color-bg-B3 {
    background-color: rgba(255,240,230,.8);
}


/********/
/* LOGO */

#LOGO > svg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

#LOGO {
    transition: all .3s;
    transform-origin: right top;
    transform: scale(0);
    opacity: 0;
}

#LOGO, #LOADING {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

#LOGO.fullscreen {
    transform: scale(1);
    opacity: 1;
}

#LOGO.stick {
    left: auto;
    bottom: auto;
    top: 0;
    right: 0;
    width: 3.16rem;
    height: 1.23rem;
    transform: scale(1);
    opacity: 1;
    transition: opacity .3s;
}

#LOADING {
    display: block;
    background: #fff;
    opacity: 0;
    transition: opacity .3s;
}

#LOADING.fullscreen {
    opacity: 1;
}